@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&family=Oxanium:wght@200..800&display=swap');

:root{
    --font-color: white;
    --h1-color: white;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    overflow-y: hidden;
}

h1,h2,label{
    font-family: "Oxanium", sans-serif;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0.1rem;
    color: white;
    text-align: center;
}

h1{
    font-size: 2.5rem;
    z-index: 99;
}

h2{
    font-size: 1.5rem;
}

li{
    display: flex;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5rem;
    justify-content: center;
}



body{
    background-image: url("./Assets/bg.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.prm-bnfts > h1{
    font-family: "Foldit",sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
}


.left > #logo{
    width: 200px;
    margin-inline: 25%;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
}

.left > #toji{
    min-width: 300px;
}

.wrapper{
    display: flex;
    flex-basis: 1fr;
    height: 100vh;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 1.5em;
}

.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid white;
    justify-self: center;
    align-items: center;
    overflow-x: hidden;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    align-items: center;
    border-right: 1px solid white;
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: space-evenly;
}

form > label > input,select{
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-size: cover;
    
    height: 2rem;
    margin-left: 30px;
    border-radius: 30px;
    padding-left: 10px;
    justify-self: right;
}
::placeholder,select{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: black;
}
         
button{
    background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    filter:  drop-shadow(0 0 0.3rem white);
    border-radius: 20px;
    display: block;
}

button:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
 
.right{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 1%;
    gap: 5rem;
}

ul{
    overflow-x: hidden;
    overflow-y: auto;
}